name: Build

on:
  push:
  pull_request:
  schedule:
    # runs the CI everyday at 10AM
    - cron: "0 10 * * *"

jobs:
  dart:
    runs-on: ubuntu-latest
    container: google/dart:${{ matrix.channel }}

    strategy:
      matrix:
        package:
          - packages/state_notifier
        channel:
          - dev
          # latest is stable release
          - beta

    steps:
      - uses: actions/checkout@v2

      # It is executed separatly
      - name: Removing example folder
        run: rm -rf example
        working-directory: ${{ matrix.package }}

      - name: Install dependencies
        run: dart pub get
        working-directory: ${{ matrix.package }}

      - name: Check format
        run: dart format --set-exit-if-changed .
        working-directory: ${{ matrix.package }}

      - name: Analyze
        run: dart analyze
        working-directory: ${{ matrix.package }}

      - name: Run tests
        run: dart test --coverage coverage/
        working-directory: ${{ matrix.package }}

      - name: Coverage
        run: dart run coverage:format_coverage -l -i .\coverage\test\state_notifier_test.dart.vm.json -o .\coverage\lcov.info --packages .\.packages
        working-directory: ${{ matrix.package }}

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  flutter:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        package:
          - packages/state_notifier/example
          - packages/flutter_state_notifier
          - packages/flutter_state_notifier/example
        channel:
          - dev
          - beta

    steps:
      - uses: actions/checkout@v2

      - uses: subosito/flutter-action@v1
        with:
          channel: ${{ matrix.channel }}

      # It is executed separatly
      - name: Removing example folder
        run: rm -rf example
        working-directory: ${{ matrix.package }}

      - name: Override dependencies
        run: ./scripts/setup_dependencies.sh

      - name: Install dependencies
        run: flutter pub get
        working-directory: ${{ matrix.package }}

      - name: Check format
        run: flutter format --set-exit-if-changed .
        working-directory: ${{ matrix.package }}

      - name: Analyze
        run: flutter analyze
        working-directory: ${{ matrix.package }}

      - name: Run tests
        run: flutter test --coverage
        working-directory: ${{ matrix.package }}

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v1
